* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

.logo-section {
    flex: 1;
    background-color: #704c9e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 300px; /* Установите нужный размер логотипа */
    height: auto;
}

.welcome-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f5f8fa; /* Светлый фон для секции регистрации */
}

.register-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 400px; /* Ширина контейнера для формы */
    text-align: center;
}

.login-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 400px; /* Ширина контейнера для формы */
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #704c9e; /* Цвет заголовка */
}

.form-group {
    margin-bottom: 20px; /* Увеличено для большей ясности */
    text-align: left; /* Выравнивание текста в полях ввода */
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%; /* Поля ввода занимают всю ширину */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus {
    border-color: #704c9e;
    outline: none;
}

button {
    padding: 10px;
    background-color: #704c9e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #421954; /* Цвет кнопки при наведении */
}

p {
    margin-top: 15px;
}

a {
    color: #704c9e;
    text-decoration: none; /* Убираем подчеркивание */
}

a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}

.messages {
    margin-top: 20px;
    color: red; /* Цвет ошибок */
}

.message {
    margin: 5px 0;
}
