*{
    box-sizing: border-box;

}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f0f2f5;
    color:#5f5f5f;
}

a{
    text-decoration: none;
    color: #5f5f5f;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffff;
    padding: 6px 6%;
    position: sticky;
    top:0;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.logo img{
    width: 50px;
    margin-right: 20px;
    display: block;
}

.navbar-right img{
    height: 40px;
    width: 40px;
}

.navbar-center ul li{
    display: inline-block;
    list-style: none;

}

.navbar-center ul li a {
    display: flex;
    align-items: center;
    font-size: 14px; 
    margin: 5px 8px;
    padding-right: 5px;
    position: relative;
}

.navbar-center ul li a img{
    width: 20px; 
    margin-right: 5px;
}

.navbar-center ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #704c9e;
    position: absolute;
    bottom:-15px;
    transition: width 0.3s;
}


.navbar-center ul li a:hover::after {
    width: 100%;
}

/* Для контейнера уведомлений */
.notification-icon {
    position: relative; /* Для позиционирования всплывающего окна относительно иконки */
}

.notification-popup {
    display: none; /* Изначально скрываем окно */
    position: absolute;
    top: 50px; /* Отступ от иконки вниз */
    right: 0;
    background-color: white;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 100;
    padding: 10px;
}

.notification-popup h4 {
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: bold;
}

.notification-popup ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.notification-popup ul li {
    padding: 10px 0;
    border-bottom: 1px solid #f1f1f1;
}

.notification-popup ul li:last-child {
    border-bottom: none;
}

.notification-popup ul li a {
    text-decoration: none;
    color: #333;
}

.notification-popup ul li a:hover {
    background-color: #f9f9f9;
}

/* Показываем всплывающее окно при добавлении класса show */
.notification-popup.show {
    display: block;
}

.nav-profile-img{
    width: 40px;
    border-radius: 50%;
    display:block;
    cursor: pointer;
    position: relative;
}

.searchbox {
    margin-left: 20px;
    background: #f0f2f5;
    border-radius: 20px;
    display: flex;
    align-items: center;
    max-width: 250px; /* Максимальная ширина контейнера */
    width: 100%; /* Контейнер будет занимать всю доступную ширину */
    padding: 0; /* Убираем padding контейнера */
}

.searchbox input {
    margin-left: 10px;
    flex-grow: 1; /* Поле ввода занимает все оставшееся пространство */
    border: none;
    outline: none;
    font-size: 13px;
    border-radius: 20px 0 0 20px; /* Закругленные края слева */
}

/* Кнопка поиска */
.search-button {
    background-color: #704c9e;
    border: none;
    padding: 10px 10px; /* Внутренние отступы для кнопки */
    cursor: pointer;
    border-radius: 0 20px 20px 0; /* Закругленные края справа */
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Белая иконка */
}

/* Размер иконки */
.search-button i {
    font-size: 14px;
    color: white; /* Цвет белой лупы */
}

/* Эффект наведения на кнопку */
.search-button:hover {
    background-color: #421954; /* Темно-синий цвет при наведении */
}

.navbar-left{
    display: flex;
    align-items: center;
}


.searchbox img{
    width: 14px;
}

.searchbox input{
    width: 100%;
    background: transparent;
    padding: 5px;
    outline:none;
    border: 0;
}


.container{
    padding: 20px 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.left-sidebar{
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 73px;
}

.sidebar-profilebox{
    margin-top: 10px;
    background: #704c9e;
    border-radius: 10px; /* Закругление углов кнопки */
}

.sidebar-profileinfo{
    position: relative; /* Для расположения элементов поверх фона */
    z-index: 1; /* Отправляем информацию на передний план */
    color: white; /* Цвет текста, чтобы он был виден на синем фоне */
    padding: 4px 25px;
}


.sidebar-profileinfo img{
    width: 90px;
    height: 90px;
    margin-top: 5px;
    border-radius: 50%;
    background: #ffff;
    padding: 2px;
}

.sidebar-profileinfo h1 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.sidebar-profileinfo h3{
    font-size: 14px;
    font-weight:1000;
    color: #fff;
}

.sidebar-profileinfo ul{
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.sidebar-profileinfo ul li{
    width: 100%;
    margin: 5px;
    font-weight:500;
    font-size: 13px;
    color: #fff;

}

.sidebar-profileinfo ul li span{
    float: right;
    color: #fff;
}

.right-sidebar{
    flex-basis: 30%;
    align-self: flex-start;
    position: sticky;
    top: 73px;
}

/* Стили для панели подписок */
.subscriptions-panel {
    position: fixed;
    right: 20px; /* Добавляем отступ справа */
    top: 78px;
    width: 300px; /* Увеличиваем ширину панели */
    border-radius: 8px;    
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    z-index: 100;
    margin-top: -6px;
}

.subscriptions-panel h3 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.subscriptions-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.subscription-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.subscription-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.subscription-item span {
    font-size: 14px;
    font-weight: 500;

}

.subscription-item:last-child {
    border-bottom: none;
}

.subscription-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.subscription-name {
    font-size: 14px;
    color: #333;
    font-weight: 500;
}

/* Ховеры */
.subscription-item:hover {
    background-color: #e9f5ff;
}


.main{
    flex-basis: 75%;  
}


.form-container {
    display: flex;
    flex-direction: column; /* Вертикальное расположение контейнеров */
    gap: 10px; /* Отступы между textarea */
    width: 100%; /* Контейнер занимает всю возможную ширину */
}

.textarea-container {
    display: flex;
    width: 100%; /* Контейнеры занимают всю ширину */
}

.textarea-first {
    display: flex;
    justify-content: space-between; /* Выравниваем элементы по краям */
    align-items: center; /* Выравниваем по вертикали */
    width: 100%; /* Первое textarea занимает всю ширину */
    padding: 10px;
    box-sizing: border-box; /* Учитывает padding в ширине */
    width: 100%; /* Ширина текстового поля */
}

.textarea-first img {
    width: 35px;
    border-radius: 50%;
    margin-right: 10px; 
}

.textarea-first textarea{
    width: 100%; /* Ширина текстового поля */
    padding: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    resize: none;
    flex-grow: 1;
    transition: border-color 0.3s;
}

.textarea-first textarea:focus {
    border-color: #704c9e;
    outline: none;
}

.textarea-first textarea::-webkit-scrollbar {
    width: 0px;
}

.textarea-second-line {
    display: flex;
    justify-content: space-between; /* Выравниваем элементы по краям */
    align-items: center; /* Выравниваем по вертикали */
    margin-top: -20px;

}

.textarea-second {
    flex-grow: 1; /* Второе textarea занимает всё доступное пространство */
    padding: 10px;
    box-sizing: border-box;
    margin-right: 3px; /* Отступ для кнопки */
}

.textarea-second textarea{
    width: 100%; /* Ширина текстового поля */
    padding: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    resize: none;
    flex-grow: 1;
    transition: border-color 0.3s;
}

.textarea-second textarea:focus {
    border-color: #704c9e;
    outline: none;
}

.textarea-second textarea::-webkit-scrollbar {
    width: 0px;
}

.submit-button {
    margin-top: -5px;
    margin-right: 10px;
    background-color: #704c9e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #421954;
}

.create-post {
    display: flex;
    flex-direction: column; /* Вертикальное расположение содержимого */
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Для абсолютного позиционирования кнопки */
    margin-bottom: 15px;
}


::placeholder{
    font-weight: 500;
}


.post{
    cursor: pointer;
    width: 100%; /* Позволяет ширине автоматически подстраиваться */
    background: #fff;
    border-radius: 10px; /* Закругление углов */
    padding: 20px 25px 5px;
    margin: 5px 0 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




.post-author{
    display: flex;
    align-items: flex-start;
}

.post-author img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -5px;
}

.post-author h1{
    margin-top: -1px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.post-author small{
    margin-top: -10px;
    display: block;
}

.post p{
    margin-top: 5px;
    font-size: 16px;
    margin-bottom: 15px;
}

.post-content {
    max-width: 100%; /* Чтобы адаптироваться к меньшим экранам */
    padding: 2px; /* Внутренний отступ */
    white-space: normal; /* Перенос текста по словам */
    word-wrap: break-word; /* Перенос длинных слов на следующую строку */
    overflow-wrap: break-word; /* Совместимость с различными браузерами */
    margin-top: 5px;
}

.liked-users{
    margin-left: 10px;
}

.post-activity{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 500;
}

.post-activity div{
    display: flex;
    align-items: center;
}

.post-activity-user-icon{
    width: 22px;
    border-radius: 50%;
}

.post-activity-arrow-icon{
    width: 12px;
    margin-left: 5px;
}

.post-activity-link img{
    width: 18px;
    margin-right: 8px;
}


.post-activity-link button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
    transition: transform 0.2s;
}

.post-activity-link button:hover {
    transform: scale(1.1);
}

.comments-section {
    border-top: 1px solid #e0e0e0; /* Граница сверху для разделения */
    padding-top: 10px; /* Отступ сверху */
    margin-top: 10px; /* Отступ сверху */
}

.comments-section h3 {
    margin: 0 0 10px; /* Отступы заголовка */
    font-size: 18px; /* Размер шрифта заголовка */
}

.comments-list {
    list-style: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
    margin: 0 0 10px; /* Отступы снизу */
}

.comment-item {
    display: flex; 
    align-items: flex-start; 
    margin: 10px 0;
}

.comment-user-image {
    width: 40px; /* Ширина изображения пользователя */
    height: 40px; /* Высота изображения пользователя */
    border-radius: 50%; /* Закругление углов для круглой формы */
    margin-right: 10px; /* Отступ справа от изображения */
}

.comment-content {
    flex: 1; /* Занять оставшееся пространство */
}

.comment-content strong {
    display: block; /* Ники пользователей на новой строке */
    margin-bottom: 2px; /* Уменьшенный отступ снизу от ника */
    font-weight: bold; /* Жирный шрифт для ника */
}

.comment-content p {
    margin: 0; /* Убираем отступы для текста комментария */
    font-size: 14px; /* Размер шрифта для текста комментария */
}

.comment-item {
    display: flex; /* Используем flexbox для изображения и текстового поля */
    align-items: center; /* Вертикальное выравнивание */
    flex-grow: 1; /* Позволяем текстовому полю занимать доступное пространство */

}

/* Стиль линии */
.comment-line {
  border: none;
  border-top: 1px solid #ddd;
  margin: 2px 0;
}

.comment-item textarea::-webkit-scrollbar {
    width: 0px;
}

.comment-item textarea {
    width: 100%; /* Ширина текстового поля */
    padding: 10px; /* Внутренние отступы */
    border: 1px solid #d1d1d1; /* Рамка текстового поля */
    border-radius: 4px; /* Закругление углов текстового поля */
    resize: none; /* Запрет изменения размера текстового поля */
    transition: border-color 0.3s; /* Плавный переход цвета рамки */
}

.comment-item textarea:focus {
    border-color: #704c9e; /* Цвет рамки при фокусе */
    outline: none; /* Убираем стандартное выделение */
}

.comment-item img{
    width: 35px;
    border-radius: 50%;
    margin-right: 10px; 
}

.comment-date {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  color: #888; /* Приглушенный цвет для даты */
}

::placeholder{
    font-weight: 500;
}

.add-comment {
    display: flex; /* Используем flex для выравнивания элементов */
    gap: 10px; /* Расстояние между полем ввода и кнопкой */
    margin-top: 10px; /* Отступ сверху */
}

.comment-item button {
    background-color: #704c9e; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    padding: 10px 15px; /* Внутренние отступы кнопки */
    border-radius: 4px; /* Закругление углов кнопки */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
    border: none;
    outline: none;
    margin-left: 10px; /* Отступ между текстовым полем и кнопкой */
}

.comment-item button:hover {
    background-color: #421954; /* Цвет фона кнопки при наведении */
}

.comment-item button:focus {
    outline: none; /* Убираем обводку при фокусе */
}




.profile-menu-wrap{
    position: absolute;
    top: 100%;
    right: 5%;
    width: 320px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0s;
}

.profile-menu-wrap.open-menu{
    max-height: 400px;
}

.profile-menu{
    border-radius: 20px;
    background-color: #ffffff;
    border: 2px solid #704c9e;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Добавляем тень */
    padding: 10px;
    margin: 10px;
}


.user-info{
    display: flex;
    align-items: center;
}

.user-info img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 1px;
}

.user-info h3{
    font-weight: 700;
    color: #333;
}

.user-info a{
    color: #333;
    font-size: 15px;
}

.profile-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #333;
    margin: 15px 0 10px;

}

.profile-menu-links{
    display: flex;
    align-items: center;
    color: #333;
    margin: 5px 0;
    font-size: 15px;
}

.profile-menu-links p{
    width: 100%;
    font-weight: 400;

}

.profile-menu-links img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.profile-main{
    flex-basis:73%;
}

.profile-sidebar{
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 73%;
}

.profile-container{
    background: #fff;
}

.profile-container-inner{
    padding: 0 4% 10px;
}

.profile-pic{
    width: 150px;
    border-radius: 50%;
    margin-top: -75px;
    padding: 5px;
    background: #fff;

}

.profile-container h1{
    font-size: 28px;
    font-weight: 600;
    color: #222;
}

.profile-container b{
    font-weight: 500;
}

.profile-container p{
    margin-top: 5px;
}

.profile-header {
    position: relative; /* For positioning the profile picture */
    margin-bottom: 15px; /* Space below the profile header */
}

.profile-background {
    background-color: #704c9e; /* Background image for the profile */
    background-size: cover; /* Cover the entire background area */
    height: 100px; /* Increased height of the background area */
    border-radius: 8px 8px 0 0; /* Rounded corners on top */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: -50px; /* Pull up the profile picture to overlap the background */
    position: absolute; /* Absolute positioning for the overlap effect */
    left: 20px; /* Align to the left with some padding */
    top: 100px; /* Position below the background */
    border: 3px solid white; /* Optional: add a border around the profile picture */
}

.profile-info {
    background-color: #fff;
    padding: 70px 0 20px; /* Space above and below text */
    border-radius: 0px 0px 8px 8px; /* Rounded corners on top */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-info h2{
    margin-top: -60px;
    margin-left: 165px; /* Add margin to the left for text spacing */
}


.profile-info p{
    margin: 3px;
    margin-top: -20px;
    margin-left: 165px; /* Add margin to the left for text spacing */
}


.followers div{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.followers img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: -10px;
}

.following-users{
    margin-left: 25px;
}


.stats-panel {
    display: flex; /* Use Flexbox for layout */
    justify-content: space-between; /* Distribute space evenly between items */
    margin-top: 25px; /* Space above the panel */
    align-items: center; /* Выравнивание элементов по вертикали */
    margin-left: 15px;
    margin-right: 15px;
}

.stat-item {
    text-align:center; /* Center-align text within each stat item */
    margin: 0 10px; /* Set horizontal margin to 10px for spacing */
}

.stat-item span {
    font-weight: 500; /* Make the text bold */
}


.stats-panel button {
    background-color: #704c9e; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    padding: 10px 15px; /* Внутренние отступы кнопки */
    border-radius: 4px; /* Закругление углов кнопки */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.stats-panel button:hover {
    background-color: #421954; /* Цвет фона кнопки при наведении */
}

.stats-panel button:focus {
    outline: none; /* Убираем обводку при фокусе */
}




.modal {
    display: none; /* Скрыть модальное окно по умолчанию */
    position: fixed; /* Окно фиксируется относительно окна браузера */
    z-index: 1000; /* Убедитесь, что модальное окно выше других элементов */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Добавляет прокрутку, если необходимо */
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный фон */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto; /* Центрирование */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ширина модального окна */
    max-width: 600px; /* Максимальная ширина */
    border-radius: 10px; /* Закругленные углы */
}

.modal-header{
    display: flex;


}
.modal-header img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -5px;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}




