<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/edit.css' %}"> <!-- Link to your CSS file -->
    <title>Edit Profile</title>
</head>
<body>
    <div class="container">
        <a href="/profile" class="back-button">
            <img src="{% static 'img/arrow.png' %}" alt="Back" class="back-icon">
        </a>
        <div class="profile-edit-form">
            <div class="form-group">
                <label for="profile-pic">Profile Picture:</label>
                <div class="profile-pic-container">
                    <img src="{% static 'img/start.jpg' %}" alt="Profile Picture" class="profile-pic" id="profile-pic-preview">
                    <input type="file" id="profile-pic" accept="image/*" onchange="previewImage(event)">
                </div>
            </div>
            <div class="form-group">
                <label for="username">Name:</label>
                <input type="text" id="username" placeholder="Enter new name" value="Username">
            </div>
            <div class="form-group">
                <label for="location">Location:</label>
                <input type="text" id="location" placeholder="Enter new location" value="City, Country">
            </div>
            <button type="submit" class="save-button">Save Changes</button>
        </div>
    </div>
    <script>
        function previewImage(event) {
            const reader = new FileReader();
            reader.onload = function(){
                const output = document.getElementById('profile-pic-preview');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
</body>
</html>
