<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Home page</title>
    <link rel="stylesheet"  href="{% static 'css/style.css' %}">
</head>
<body>
   <nav class="navbar">
    <div class="navbar-left">
        {% load static %}
        <a href="index.html" class="logo"><img src="{% static 'img/start.jpg' %}"></a>
        <div class="searchbox">
            <img src="{% static 'img/search.png' %}">
            <input type="text" placeholder="Search">
        </div>
    </div>
    <div class="navbar-center">
        <ul>
            <li><a href="#"><img src="{% static 'img/bell.png' %}"><span>Notifications</span></a></li>
        </ul>
    </div>
    <div class="navbar-right">
        <img src="{% static 'img/user.png' %}" class="nav-profile-img" onclick="toggleMenu()">
    </div>
    <div class="profile-menu-wrap" id="profileMenu">
        <div class="profile-menu">
            <div class="user-info">
                <img src="{% static 'img/start.jpg' %}" alt="">
                <div>
                    <h3>Username</h3>
                    <a href="#">My profile</a>
                </div>
            </div>
            <hr>
            <a href="#" class="profile-menu-links">
                <img src="{% static 'img/settings.png' %}" alt="">
                <p>Settings</p>
            </a>
            <a href="#" class="profile-menu-links">
                <img src="{% static 'img/logout.png' %}" alt="">
                <p>Logout</p>
            </a>
        </div>
    </div>

   </nav>
   <div class="container">

    <div class="left-sidebar">
        <div class="sidebar-profilebox">
            <div class="sidebar-profileinfo">
                <img src="{% static 'img/start.jpg' %}">
                <h1>USERNAME</h1>
                <h3>BIO</h3>
                <ul>
                    <li>Your posts<span>52</span></li>
                    <li>Your friends<span>0</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="create-post">
            <div class="create-post-input">
                <img src="{% static 'img/start.jpg' %}">
                <textarea rows="1" placeholder="Say something to world!" oninput="autoResize(this)"></textarea>
            </div>
            <div class="create-post-links">
                <li>Post</li>
            </div>
        </div>
        <div class="post">
            <div class="post-author">
                <img src="{% static 'img/start.jpg' %}">
                <div>
                    <h1>Some user</h1>
                    <small>1 hour ago</small>
                </div>
            </div>
            <p>keklol</p>
            <img src="{% static 'img/start.jpg' %}" width="100%">
            <div class="post-stats">
                <div>
                    <span>22 comments &middot; 40 shares</span>
                </div>
            </div>
            <div class="post-activity">
                <div class="post-activity-link">
                    <img src="{% static 'img/like.png' %}" alt="">
                    <span>Like</span>
                </div>
                <div class="post-activity-link">
                    <img src="{% static 'img/comment.png' %}" alt="">
                    <span>Comment</span>
                </div>
                <div class="post-activity-link">
                    <img src="{% static 'img/share.png' %}" alt="">
                    <span>Share</span>
                </div>
            </div>
        </div>
    </div>
    <div class="right-sidebar">
        <div class="sidebar-trends">
            <h3>Trending now</h3>
            <a href="#">Xdxdxd</a>
            <span>100.3 posts</span>
            <a href="#" class="show_more">Show more</a>
        </div>
    </div>
   </div>
<script>
     let profileMenu = document.getElementById("profileMenu");
   function toggleMenu(){
       profileMenu.classList.toggle("open-menu");
   }
   function autoResize(textarea) {
    textarea.style.height = 'auto'; // Сбрасываем высоту
    textarea.style.height = textarea.scrollHeight + 'px'; // Устанавливаем новую высоту
}
</script>
</body>
