<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% load static %}
    <title>Профиль</title>
    <link rel="stylesheet"  href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
   <nav class="navbar">
    <div class="navbar-left">
        {% load static %}
        <a href="/home" class="logo"><img src="{% static 'img/start.png' %}"></a>
        <form action="{% url 'search_by_hashtag' %}" method="get">
        <div class="searchbox">
            <input type="text" name="tag" placeholder="Поиск по тегам">
            <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
        </div>
        </form>
    </div>
    <div class="navbar-center">
    </div>
    <div class="navbar-right">
        <img src="{{auth_user.profile.image.url}}" class="nav-profile-img" onclick="toggleMenu()">
    </div>
    <div class="profile-menu-wrap" id="profileMenu">
        <div class="profile-menu">
            <div class="user-info">
                <img src="{{auth_user.profile.image.url}}" alt="">
                <div>
                    <h3><a href="/profile/{{auth_user.username}}" class="profile-menu-links">{{auth_user.username}}</a></h3>
                </div>
            </div>
            <a href="/settings" class="profile-menu-links">
                <img src="{% static 'img/settings.png' %}" alt="">
                <p>Настройки</p>
            </a>
            <a href="{% url 'logout' %}" class="profile-menu-links">
                <img src="{% static 'img/logout.png' %}" alt="">
                <p>Выход</p>
            </a>
        </div>
    </div>
   </nav>
   <div class="container">
    <div class="main">
        <div class="profile-header">
            <div class="profile-background"></div>
            <img src="{{user.profile.image.url}}" alt="Profile Picture" class="profile-pic">
            <div class="profile-info">
                <h2>{{user.username}}</h2>
                {% if user.profile.about != "" %}
                    <p><a href="#">{{user.profile.about}}</a></p>
                {% else %}
                    <p><a href="#">No bio</a></p>
                {% endif %}
                <div class="followers">
                </div>
                <div class="stats-panel">
                    <div class="stat-item">
                        <span class="clickable-text" onclick="openFollowersModal();">Подписчики: <strong>{{user.profile.followers.count}}</strong></span>
                    </div>
                    <div class="stat-item">
                        <span class="clickable-text" onclick="openFollowingsModal();">Подписки: <strong>{{user.profile.following.count}}</strong></span>
                    </div>
                    <div class="stat-item">
                        <span>Количество постов: <strong>{{tweets.count}}</strong></span>
                    </div>
                    {% if user.username != auth_user.username %}
                    <button id="flwBtn" class="follow-button" follow="{% if flag_track %}false{% else %}true{% endif %}"
                                onclick="followingClick(event, '{{user.username}}')">
                            {% if flag_track %}
                                Подписаться
                            {% else %}
                                Отписаться
                            {% endif %}
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if flag_posts %}
         {% for tweet in tweets %}
            <div class="post" id="post-{{tweet.id}}" data-post-id="{{ tweet.id }}" onclick="openModal({{ tweet.id }})">
            <div class="post-author">
                <img src="{{ tweet.author.profile.image.url }}">
                <div>
                   <h1>{{tweet.author.username}}</h1>
                    <small>{{tweet.date_posted}}</small>
                </div>
                {% if tweet.author.username == auth_user.username %}
                <button class="edit-delete-btn" id="edit-delete-btn-{{tweet.id}}" onclick="childClick(event);">
                <i class="fas fa-ellipsis-v"></i> <!-- Иконка для кнопки -->
                </button>
                <!-- Всплывающее окно -->
                <div class="popup-menu" onclick="childClick(event);">
                    <button onclick="editPost({{tweet.id}})">Редактировать</button>
                    <button onclick="deletePost({{tweet.id}})">Удалить</button>
                </div>
                {% endif %}
            </div>
            <div class="post-content" id="content-{{tweet.id}}">
                {{tweet.content}}
            </div>
            <div class="post-activity">
                <div class="post-activity-link">
                    <button id="likeBtn-{{tweet.id}}" class="like-btn" data-liked="{% if tweet.id in liked_tweet_ids %}true{% else %}false{% endif %}" onclick=" likeClick(event, {{tweet.id}})">
                        {% if tweet.id in liked_tweet_ids %}
                            <i class="fas fa-heart" style="color: #704c9e;"></i> <!-- Закрашенное сердце -->
                        {% else %}
                            <i class="far fa-heart"></i> <!-- Обведённое сердце -->
                        {% endif %}
                    </button>
                    <span id="likeCount-{{ tweet.id }}">{{ tweet.likes }}</span>
                </div>
            </div>
            <ul class="tag-container" onclick="childClick(event);">
                    {% for tag in tweet.hashtags.all %}
                    <li>
                    <a href="/search/?tag={{tag.text}}" style="color: white; text-decoration: none;">
                        <span class="tag-label"><i class="fas fa-circle" style="margin-left: -5px;"></i>{{tag.text}}</span>
                    </a>
                    </li>
                    {% endfor %}
            </ul>
            <div class="comment-section" onclick="childClick(event)">
              <!-- Секция для добавления нового комментария -->
                <div class="comment-item" onclick="childClick(event)">
                    <img src="{{user.profile.image.url}}">
                    <textarea rows=1 class="comment-input" id="comment-{{tweet.id}}" placeholder="Напишите ваш комментарий..." oninput="autoResize(this)" required></textarea>
                    <button class="submit-comment" onclick="addComment({{tweet.id}})">Отправить</button>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
        <div class="right-sidebar">
            <div class="subscriptions-panel">
                <h3>Ваши подписки</h3>
                <ul class="subscriptions-list">
                    {% for user in object_list %}
                    {% if forloop.counter <= 5 %}
                    <li class="subscription-item">
                       <button onclick="location.href='/profile/{{user.follow_user.username}}'" style="display: flex; align-items: center; border: none; background: none; cursor: pointer;">
                        <img src="{{ user.follow_user.profile.image.url }}">
                        <span>{{ user.follow_user.username }}</span>
                        </button>
                    </li>
                    {% endif %}
                    {% endfor %}
                    <li class="subscription-item">
                       <button onclick="openFollowingsModal();" style="display: flex; align-items: center; border: none; background: none; cursor: pointer;">
                        <span>Показать всех</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Модальное окно -->
    <!-- Модальное окно -->
    <div id="tweetModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <a id="author-link" href=""><div class="modal-header">
                 <img id="modal-img">
                 <h2 id="modal-author"></h2>
            </div></a>
            <p id="modal-content"></p>
            <small id="modal-date"></small>
            <div class="post-activity">
                <div class="post-activity-link">
                    <button id="modal-likeBtn" class="like-btn" data-liked="">
                    </button>
                    <span id="modal-likes-count"></span>
                </div>
            </div>
            <ul id="modal-tag-container" class="tag-container"></ul>
            <div id="modal-comments"></div>
        </div>
    </div>
    <div id="followingsModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeFollowingsModal()">&times;</span>
        <h2>Подписки</h2>
        <ul class="subscriptions-list">
            {% for qwe in user.profile.following %}
            <li class="subscription-item">
                <button onclick="location.href='/profile/{{qwe.follow_user.username}}'" style="display: flex; align-items: center; border: none; background: none; cursor: pointer;">
                <div class="user-avatar"><img src="{{ qwe.follow_user.profile.image.url }}"></div>
                <span>{{ qwe.follow_user.username }}</span>
                </button>
                </li>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
    <!-- Модальное окно для подписок -->
    <div id="followersModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeFollowersModal()">&times;</span>
        <h2>Подписчики</h2>
        <ul class="subscriptions-list">
            {% for qwe in user.profile.followers %}
            <li class="subscription-item">
                <button onclick="location.href='/profile/{{qwe.user.username}}'" style="display: flex; align-items: center; border: none; background: none; cursor: pointer;">
                <div class="user-avatar"><img src="{{ qwe.user.profile.image.url }}"></div>
                <span>{{ qwe.user.username }}</span>
                </button>
                </li>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<script src="{% static 'js/script.js' %}"></script>
</body>