<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Настройки пользователя</title>
</head>
<body>
    <nav class="navbar">
    <div class="navbar-left">
        <a href="/home/" class="logo"><img src="{% static 'img/start.png' %}"></a>
    </div>
    <div class="navbar-center">
    </div>
    <div class="navbar-right">
        <img src="{{auth_user.profile.image.url}}" class="nav-profile-img" onclick="toggleMenu()">
    </div>
    <div class="profile-menu-wrap" id="profileMenu">
        <div class="profile-menu">
            <div class="user-info">
                <img src="{{user.profile.image.url}}" alt="">
                <div>
                    <h3><a href="/profile/{{user.username}}" class="profile-menu-links">{{user.username}}</a></h3>
                </div>
            </div>
            <a href="/home" class="profile-menu-links">
                <img src="{% static 'img/home.png' %}" alt="">
                <p>На главную страницу</p>
            </a>
            <a href="#" class="profile-menu-links">
                <img src="{% static 'img/logout.png' %}" alt="">
                <p>Выход</p>
            </a>
        </div>
    </div>
   </nav>
    <div class="container">
        <div class="sidebar">
            <h2>Настройки</h2>
            <ul>
                <li><a href="#personal-info">Личные данные</a></li>
                <li><a href="#security">Безопасность</a></li>
            </ul>
        </div>

        <div class="content">
            <h2 id="personal-info">Личные данные</h2>
            <form action="/settings/update" method="POST" id="profile-settings" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="profile-image">Фото профиля</label>
                <input type="file" id="profile-image" name="profile-image" accept="image/*" onchange="previewImage(event)">
                <div class="image-preview">
                    <img id="preview" src="#" alt="Предварительный просмотр" />
                </div>
                <label for="about">О себе</label>
                <input type="about" id="about" name="about" value="{{about}}" required>
                <button type="submit">Сохранить изменения</button>
            </form>

            <h2 id="security">Безопасность</h2>
            <form action="/settings/pass/update" method="POST" id="password-settings">
                {% csrf_token %}
                <label for="current-password">Текущий пароль</label>
                {{form.old_password}}
                <label for="new-password">Новый пароль</label>
                {{form.new_password1}}
                <label for="confirm-password">Подтвердите новый пароль</label>
                {{form.new_password2}}
                <button type="submit">Изменить пароль</button>
            </form>
        </div>
    </div>
<script>
    function previewImage(event) {
        const preview = document.getElementById('preview');
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onload = function(e) {
            preview.src = e.target.result;
        };

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = '#'; // Установите изображение по умолчанию, если файл не выбран
        }
    }


        let profileMenu = document.getElementById("profileMenu");
        function toggleMenu(){
            profileMenu.classList.toggle("open-menu");
        }


    // Функция для открытия/закрытия меню профиля
        function toggleMenu() {
            var menu = document.getElementById("profileMenu");
            menu.classList.toggle("open-menu");
        }

    // Закрываем меню при клике вне его
        document.addEventListener("click", function(event) {
            var menu = document.getElementById("profileMenu");
            var profileImage = document.querySelector(".nav-profile-img");
    // Проверяем, если клик был за пределами меню и изображения профиля
            if (!menu.contains(event.target) && !profileImage.contains(event.target)) {
        menu.classList.remove("open-menu"); // Закрываем меню
    }
});
</script>
</body>
</html>


