<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Password reset</title>
</head>
<body>
    <div class="container">
        <div class="logo-section">
            {% load static %}
            <img src="{% static 'img/start.jpg' %}" alt="Twitter Logo" class="logo">
        </div>
        <div class="welcome-section">
            <div class="login-container">
                <h1>Password reset</h1>
                <form method="POST" id="login-form">
                    {% csrf_token %}
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    {% for f in form %}
                        <div class="form-group">
                        <p ><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                        </div>
                    {% endfor %}
                    <button type="submit">Change password</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
