<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>IBKSTwitter - Вход</title>
</head>
<body>
    <div class="container">
        <div class="logo-section">
            {% load static %}
            <img src="{% static 'img/start.jpg' %}" alt="Twitter Logo" class="logo">
        </div>
        <div class="welcome-section">
            <div class="login-container">
                <h1>Password reset</h1>
                <form id="login-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <p>A password reset email has been sent to your registered email address.</p>
                        <p>Please, check your inbox and follow the instructions provided in the email to reset your password.</p>
                        <p >If you don’t receive an email, make sure you’ve entered the address you registered with,
                            and check your spam folder.</p>
                    </div>
                   <p><a href="/login">Return to login page</a></p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
